@model NGKShop.Models.LOAINGK

@{
    ViewBag.Title = "ChitietLH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Tên loại hàng</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLH)
        </dd>

        <dt>
            Mã nhà cung cấp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNCC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "SuaNCC", new { id = Model.MaLH }) |
    @Html.ActionLink("Trở về", "Index")
</p>
