@model NGKShop.Models.LOAINGK

@{
    ViewBag.Title = "XoaLH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa loại hàng</h2>

<h3>Bạn có muốn xóa loại hàng này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLH)
        </dd>

        <dt>
            Mã nhà cung cấp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNCC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
